---
layout: default
---
<div class="container-fluid hero v5_starfield-small-night-sky pb-4">
   <div class="container">
      <div class="row">
         <div class="col-md-6 hero_title">
            <h1>{{ site.title }}</h1>
         </div>
         <div class="col-md-6 hero_image"><img src="{{ site.image }}" alt=""></div>
      </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-md-10 offset-md-1 welcome text-center">
         <p>{{ site.description }}</p>
      </div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">API Blogs and and News Sites</h2>
            <p>The relevant API industry blog and news sites to find information.
         </div>
      </div>

      <div>
        {% assign index = site.data.apis %}
        {% assign show_tag = "Blog" %}
        {% include api-listing.html %}
      </div>

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>The Postman Blog</h2>
         <p class="collection__end_p">You can stay in tune with the Postman community via the Postman blog.</p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="https://blog.postman.com/">View the Postman Blog</a></div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">API Catalogs, Directories, Networks, and Discovery</h2>
            <p>Places where you can actually find APIs that you can use.</p>
         </div>
      </div>

      <div>
        {% assign index = site.data.apis %}
        {% assign show_tag = "Discovery" %}
        {% include api-listing.html %}
      </div>

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>The Postman API Network</h2>
         <p class="collection__end_p">You can browse and search for collection via the Postman network.</p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="https://explore.postman.com/">Browse the Network</a></div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">API Newsletters</h2>
            <p>The API newsletters available out there.</p>
         </div>
      </div>

      <div>
        {% assign index = site.data.apis %}
        {% assign show_tag = "Newsletter" %}
        {% include api-listing.html %}
      </div>

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>API Lifecycle</h2>
         <p class="collection__end_p">A modular approach for defining what the API lifecycle can be, providing us with a standardized way to have a conversation around the API lifecycle.</p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="https://apis.how/">Explore the API Lifecycle</a></div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">API Podcasts</h2>
            <p>Some of the API podcasts that you should be tuning into.</p>
         </div>
      </div>

      <div>
        {% assign index = site.data.apis %}
        {% assign show_tag = "Podcasts" %}
        {% include api-listing.html %}
      </div>

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>Wikipedia</h2>
         <p class="collection__end_p">You can learn more about what an API is from Wikipedia.</p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="https://en.wikipedia.org/wiki/API">Browse the Network</a></div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">API Reports</h2>
            <p>Some of the interesting reports available from the API sector.</p>
         </div>
      </div>

      <div>
        {% assign index = site.data.apis %}
        {% assign show_tag = "Reports" %}
        {% include api-listing.html %}
      </div>

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>API Evangelist</h2>
         <p class="collection__end_p">Learn more about the technology, business, and politics of APIs at API Evangelist.</p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="http://apievangelist.com/">Browse the Network</a></div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">Developer Communities</h2>
            <p>A handful of places where developers hang out and talk about APIs.</p>
         </div>
      </div>

      <div>
        {% assign index = site.data.apis %}
        {% assign show_tag = "Developers" %}
        {% include api-listing.html %}
      </div>

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>API Specification Toolbox</h2>
         <p class="collection__end_p">A toolbox of API specifications, extensions, standards, services, tools, and other resources..</p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="http://api.specificationtoolbox.com/">Explore the Toolbox</a></div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">API Events</h2>
            <p>Conferences, Events, and Meetups for the API sector.</p>
         </div>
      </div>

      <div>
        {% assign index = site.data.apis %}
        {% assign show_tag = "Events" %}
        {% include api-listing.html %}
      </div>

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>Postman Open Technologies</h2>
         <p class="collection__end_p">Postman's official program for investing in API specifications, standards, tooling, and data.</p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="https://postman-open-technologies.github.io/home/">Explore Postman Open Technologies</a></div>
   </div>
</div>

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">API Careers</h2>
            <p>Posting about finding a job or career path that is API related.</p>
         </div>
      </div>

      <div>
        {% assign index = site.data.apis %}
        {% assign show_tag = "Careers" %}
        {% include api-listing.html %}
      </div>

   </div>
</div>

<div class="container-fluid">
   <div class="row blurb text-center">
      <div class="col-md-12">
         <h2>About this API Knowledge Toolbox</h2>
         <p class="collection__end_p">This site is meant to aggregate some of the common sources of information for the API sector, providing a single place where you can find out what is going on.</p>
      </div>
      <div class="col-md-12 blurb_padding"><a class="btn btn__secondary-light" href="https://github.com/{{ site.github_user }}/{{ site.github_repo }}">Join the Conversation on GitHub</a></div>
   </div>
</div>
